/* Smooth scrolling behavior */
* {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

/* Particles canvas styling */
#particles canvas {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* Ensures sections are below the navbar */
.section {
  height: 100vh;
  padding: 20px;
  padding-top: 100px; /* Adjust this value to match your navbar height */
  color: white;
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #000000;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #fca311;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #fca311;
}
